@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  width: 17em;
  cursor: pointer;
  text-decoration: none;
  color: #010101;
  height: 22em;
  margin:1em ;
}

.card img {
    height: 12em;
}

.card h2 {
    margin: 0;
    margin-top: .5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1em;
}

.card h3 {
    margin: .5em;
  margin-left: 0.8em;
  align-self: start;
}

.card div {
    margin: 0;
  margin-left: 0.8em;
  display: flex;
  align-self: start;
    justify-content: center;
    align-items: center;
}

.card div h5 {
    margin: 0;
    font-size: 1.5em;
}

.card div h4 {
    margin: 0;
    align-self: start;
    font-size: .8em;
}
.card h6{
    margin: 0;
    margin-bottom: .6em;
    font-size: 1em;
}

